@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
 
@font-face {
    font-family: Caviar Dreams;
    src: url('fontes/CaviarDreams.ttf') format('opentype');
}

@font-face {
    font-family: Nexa;
    src: url('fontes/Nexa-Heavy.ttf') format('opentype');
}
html,body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
   
}
header > h1{
    padding-top: 50px;
    font-family: "Nexa", sans-serif;
    font-size: 5vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

section{
    white-space: pre-line;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: "Caviar Dreams", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    padding: 5px;
    display: inline-block;
}
section.imagem > p {
    ;
    color: white;
}

footer p{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
footer a {
    color: white;
    
}